<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    Please Wait...
    <script>
        var form = document.createElement('form');
        form.style.visibility = "hidden";
        form.setAttribute('method', 'post');
        form.setAttribute('action', '{{ action }}');
        document.body.appendChild(form);
        {% for input in inputs %}
            var input{{ loop.index }} = document.createElement('input');
            input{{ loop.index }}.setAttribute('name', '{{ input.name }}');
            input{{ loop.index }}.setAttribute('value', '{{ input.value }}');
            form.appendChild(input{{ loop.index }});
        {% endfor %}

        form.submit();
    </script>
</body>
</html>
