<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.thu</string>
	<key>connections</key>
	<dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>72FF24FC-6418-4D00-9D85-5744A569086C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0FC1B7D-BE66-4E04-89BA-5556474BFA7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A0303D2C-9ECA-4D4E-9983-EED14D2538D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E46C9E4-BE35-475B-87DC-BBD32D9EA445</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E437A76C-E209-4C15-AA8A-25257F6CB031</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>622481B7-333C-4D4F-A6E5-443BF009CFB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>TennyZhuang</string>
	<key>description</key>
	<string>An Alfred2 workflow for THU Student</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>thu</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/python main.py --login</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>thu login</string>
				<key>subtext</key>
				<string>login</string>
				<key>text</key>
				<string>Login</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>thu logout</string>
				<key>subtext</key>
				<string>logout</string>
				<key>text</key>
				<string>Logout</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72FF24FC-6418-4D00-9D85-5744A569086C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python main.py --logout</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B0FC1B7D-BE66-4E04-89BA-5556474BFA7A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python main.py --account {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>622481B7-333C-4D4F-A6E5-443BF009CFB2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>thu account</string>
				<key>subtext</key>
				<string>set account by 'thu account username password'</string>
				<key>text</key>
				<string>Account</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E437A76C-E209-4C15-AA8A-25257F6CB031</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python main.py --info</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E46C9E4-BE35-475B-87DC-BBD32D9EA445</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>thu info</string>
				<key>subtext</key>
				<string>open info.tsinghua.edu.cn</string>
				<key>text</key>
				<string>Info</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0303D2C-9ECA-4D4E-9983-EED14D2538D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E46C9E4-BE35-475B-87DC-BBD32D9EA445</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>622481B7-333C-4D4F-A6E5-443BF009CFB2</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>72FF24FC-6418-4D00-9D85-5744A569086C</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A0303D2C-9ECA-4D4E-9983-EED14D2538D0</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>B0FC1B7D-BE66-4E04-89BA-5556474BFA7A</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>E437A76C-E209-4C15-AA8A-25257F6CB031</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
